<div class="form-container flex-column d-flex justify-content-center align-items-center mt-5">
  <div class="error-msg">
    <% if (error) { %>
    <p><%= error %></p>
    <%}%>
  </div>
  <form action="/users/create" method="post" class="user-create-form">
    <div class="profile-img-container">
      <div class="">
        <label for="profile-img-upload"><i class="fa-solid fa-user-tie avatar"></i></label>
        <input type="file" name="profile-img-upload" id="profile-img-upload" accept="image/png, image/jpeg, image/jpg" />
      </div>
    </div>
    <div class="form-group mt-4">
      <label for="email">E-Mail</label>
      <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email" required />
    </div>
    <div class="form-group mt-2">
      <label for="firstname">Firstname</label>
      <input class="form-control" type="text" name="firstname" id="firstname" placeholder="Firstname" required />
    </div>
    <div class="form-group mt-2">
      <label for="lastname">Lastname</label>
      <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Lastname" required />
    </div>
    <div class="form-group mt-2">
      <label for="usertype">Role</label>
      <select class="form-control" name="usertype" id="usertype">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </div>
    <div class="d-flex justify-content-center align-items-center" style="width: 100%">
      <button type="submit" class="btn btn-primary btn-user-submit mt-4">Submit</button>
    </div>
  </form>
</div>
