<div class="crt-user-form-container">
  <div class="error-msg">
    <% if (error) { %>
    <div class="error-msg-container">
      <p><%= error %></p>
      <button>x</button>
    </div>
    <%}%>
  </div>
  <form enctype="multipart/form-data" class="crt-user-form">
    <div class="crt-user-img-container">
      <label for="crt-user-img-upload" id="crt-user-img"><i class="fa-solid fa-user-tie crt-user-avatar"></i></label>
      <input type="file" name="crtUserImgUpload" id="crt-user-img-upload" accept="image/png, image/jpeg, image/jpg" />
    </div>
    <div class="crt-user-data">
      <div class="crt-user-email-group crt-user-form-data">
        <div><label for="crt-user-email">E-Mail:</label></div>
        <div>
          <input type="email" name="crtUserEmail" id="crt-user-email" placeholder="Enter your email" required />
        </div>
      </div>
      <div class="crt-user-firstname-group crt-user-form-data">
        <div><label for="crt-user-firstname">Firstname:</label></div>
        <div>
          <input type="text" name="crtUserFirstname" id="crt-user-firstname" placeholder="Firstname" required />
        </div>
      </div>
      <div class="crt-user-lastname-group crt-user-form-data">
        <div><label for="crt-user-lastname">Lastname:</label></div>
        <div>
          <input type="text" name="crtUserLastname" id="crt-user-lastname" placeholder="Lastname" required />
        </div>
      </div>
      <div class="crt-user-type-group crt-user-form-data">
        <div>
          <label for="crt-user-type">Role:</label>
        </div>
        <div>
          <select name="crtUserType" id="crt-user-type">
            <option value="admin">Admin</option>
            <option selected value="user">User</option>
          </select>
        </div>
      </div>
    </div>
    <div class="crt-user-submit">
      <button>Submit</button>
    </div>
  </form>
</div>
