:root {
  --cl-success: rgb(170, 255, 170);
  --cl-error: rgb(255, 170, 170);
}

header {
  min-height: 15vh;
  width: 100vw;
  background-image: linear-gradient(90deg, rgb(112, 112, 112), rgb(206, 206, 206));
  position: sticky;
  top: 0;
}

footer {
  width: 100vw;
  font-size: x-small;
}

.form-container {
  width: 100%;
}

.user-create-form {
  width: 50%;
  max-width: 30rem;
  position: relative;
}

.record {
  transition: all 5s ease;
}

.record-success {
  animation: success 2000ms ease-in-out alternate-reverse;
}

.record-error {
  animation: error 2000ms ease-in-out alternate-reverse;
}

/* Create User */
.user-img-container {
  margin: 0 auto;
  min-height: 10rem;
  min-width: 10rem;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-img-container::before {
  content: "Click to add an image ...";
  position: absolute;
  left: 70%;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: rgb(85, 85, 85);
  width: 13rem;
  height: 2.5rem;
  border-radius: 3px;
  box-shadow: 1px 1px 10px gray;
  opacity: 0;
  transition: all 350ms ease-in-out;
  font-weight: lighter;
  z-index: 2;
}

.user-img-container:hover::before {
  opacity: 1;
}

.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 10rem;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 100%;
  box-shadow: 2px 2px 10px rgb(149, 149, 149);
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.user-img img {
  width: 180px;
  height: 180px;
}

.user-img-upload {
  cursor: pointer;
}

.avatar {
  color: rgb(123, 123, 123);
  font-size: 7rem;
}

input[type="file"] {
  display: none;
}

.btn-user-submit {
  width: 100%;
  max-width: 30rem;
}

/* animations */
@keyframes success {
  0% {
  }
  50% {
    background: var(--cl-success);
  }
  100% {
  }
}
@keyframes error {
  0% {
  }
  50% {
    background: var(--cl-error);
  }
  100% {
  }
}
