<div class="header-logo">
  <a href="/"><span>V</span>inher</a>
</div>
<div class="site-desc"><h4>CRUD Node.js - MariaDB</h4></div>
<div class="new-user">
  <a href="/users/create">Create new user</a>
</div>
